.btnArea {
    padding-top: 20px;
    padding-left: 20px;
    display: flex;
}

.GameBtn {
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    height: 30px;
    line-height: 30px;
    padding: 5px 5px 5px 5px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    background: slateblue;
    color: white;
}

#reset {
    background: orange;
}

@media screen and (max-width: 1000px) {
    .btnArea {
        padding-top: 10px;
        padding-left: 10px;
        display: flex;
    }

    .GameBtn {
        border: 1px solid black;
        border-radius: 10px;
        height: 15px;
        line-height: 15px;
        padding: 2px 2px 2px 2px;
        margin-left: 5px;
        margin-right: 5px;;
        font-size: 10px;
    }
}