#square {
  height: 30px;
  width: 30px;
  border: 1px solid darkgray;
}

#square:hover {
  opacity: .7;
}

.blueTile {
    background: skyblue;
}

.greenTile {
    background:mediumseagreen;
}

.redTile {
    background: tomato;
}

.blackTile {
  background: black;
}

@media screen and (max-width: 1000px) {
  #square {
    height: 20px;
    width: 20px;
    border: 1px solid darkgray;
  }
}